@model IEnumerable<MapDomain.Entities.ClientRequestForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrontEndLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileNeeded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsOfExperience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileNeeded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearsOfExperience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdProject)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdForm }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdForm }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdForm })
        </td>
    </tr>
}

</table>
