@using MapDomain.Entities
@model MapWeb.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/FrontEndLayout.cshtml";

}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" , enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

   <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div id="Enum" class="form-group">
        @Html.LabelFor(m => m.AccountType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            @Html.Label("Client: ", new { @class = "control-label" }) @Html.RadioButtonFor(m => m.AccountType, AccountType.Client, new { @id = "Client", onclick = "Afficher()" })
            @Html.Label("Resource: ", new { @class = "control-label" }) @Html.RadioButtonFor(m => m.AccountType, AccountType.Resource, new { @id = "Resource", onclick = "Afficher2()" })
            @Html.Label("Demandeur: ", new { @class = "control-label" }) @Html.RadioButtonFor(m => m.AccountType, AccountType.Demandeur, new { @id = "Demandeur", onclick = "Afficher3()" })

        </div>
    </div>


    <div id="rs" style="display:none;" class="form-group">

        @Html.LabelFor(m => m.ProfileT, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.DropDownListFor(x => x.ProfileT, new[] {
            new SelectListItem() {Text = "Développeur", Value = "Développeur"},
            new SelectListItem() {Text = "Testeur", Value = "Testeur"},
            new SelectListItem() {Text = "Intégrateur", Value = "Intégrateur"},
            new SelectListItem() {Text = "Chef de Projet", Value = "Chef de Projet"},
        }, "Choose Profil ")
        </div>

    </div>
    <div id="rs7" style="display:none;"  class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div id="rs6" style="display:none;" class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div  id="rs5" style="display:none;" class="form-group">
        @Html.LabelFor(m => m.PassPort, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PassPort, new { @class = "form-control"})
        </div>
    </div>

    <div id="rs2" style="display:none;" class="form-group">

        @Html.LabelFor(m => m.Seniority, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Seniority, new[] {
            new SelectListItem() {Text = "Entry/Junior ", Value = "Entry/Junior "},
            new SelectListItem() {Text = "Intermediate", Value = "Intermediate"},
            new SelectListItem() {Text = "Senior", Value = "Senior"},
            new SelectListItem() {Text = "Lead", Value = "Lead"},
            new SelectListItem() {Text = "Senior Staff Specialist ", Value = "Senior Staff Specialist "},
            new SelectListItem() {Text = "Consulting Engineer Scientist ", Value = "Consulting Engineer Scientist "},
        }, "Choose Seniority ")
        </div>
    </div>

    <div id="rs3" style="display:none;" class="form-group">

        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Country, new[] {
            new SelectListItem() {Text = "Afghanistan", Value = "Afghanistan"},
            new SelectListItem() {Text = "Albania", Value = "Albania"},
            new SelectListItem() {Text = "Algeria", Value = "Algeria"},
            new SelectListItem() {Text = "India", Value = "India"},
            new SelectListItem() {Text = "Indonesia", Value = "Indonesia"},
            new SelectListItem() {Text = "Iran", Value = "Iran"},
            new SelectListItem() {Text = "Tunisia", Value = "Tunisia"},
            new SelectListItem() {Text = "Turkey", Value = "Turkey"},
        }, "Choose Country ", new { @required = "false" })
        </div>

    </div>


    <div id="rs4" style="display:none;" class="form-group">

        @Html.LabelFor(m => m.WorkType, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.DropDownListFor(x => x.WorkType, new[] {
            new SelectListItem() {Text = "IT ", Value = "IT "},
            new SelectListItem() {Text = "HR", Value = "HR"},
            new SelectListItem() {Text = "Finance", Value = "Finance"},
            new SelectListItem() {Text = "Administration", Value = "Administration"},

        }, "Choose WorkType ", new { @required = "false" })
        </div>

    </div>

    @*
    <div   class="form-group">

        @Html.LabelFor(model => model.CurriculumVitae, htmlAttributes: new { @class = "control-label col-md-2" })
        
        <div class="col-md-10">
            @Html.TextBox("CurriculumVitae", null, new { type = "file" })
            @Html.ValidationMessageFor(model => model.CurriculumVitae)
        </div>
    </div>
        *@
   



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>





    
    
        <script src="~/Content/Front/js/ShowRegister.js"> </script>

        
    
}